body {
	font-family: Georgia, serif;
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	background-image: url('../img/backgrounds/NavyStars.png');
	background-attachment: fixed;
	color: #000033;
	margin: 0;
	min-width: 658px;
}

a {
	/*color: blue;*/
}

#top {
	text-align: center;
}

#nav {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 658px;
	z-index: 1;
}

@media screen and (max-width: 657px) {
	#nav {
		position: static;
	}
}

.nav-item {
	color: #D7D6D4;
	background-color: #000033;
	flex-basis: 25%;
	padding: 25px 10px;
	text-decoration: none;
	/*max-height: 20px;*/
	height: 100%;
}

.nav-item:hover {
	background-color: #282828;
}

#logo img {
	padding: 5px 10px;
}

@media screen and (max-width: 922px) {
	#logo img {
		display: none !important;
	}
}

#heading {
	margin-top: 100px;
}

#wrapper {
	margin-top: 68px;
}

@media screen and (max-width: 657px) {
	#wrapper {
		margin-top: 0;
	}
}

#wrapper > div {
	padding: 200px 15%;
}

@media screen and (max-width: 922px) {
	#wrapper > div {
		padding: 100px 5%;
	}
}

.content {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 20px;
	border-radius: 20px;
}

#introImage, #introHeart {
	display: block;
	width: 100%;
	margin: 20px auto;
}

#introImage {
	max-width: 550px;
}

#introHeart {
	max-width: 100px;
}

#intro {
	text-align: center;
	line-height: 235%;
}

#gallery .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#gallery .content a {
	flex-basis: 45%;
	height: 100%;
	padding: 10px;
	text-align: center;
}

#gallery .content img {
	width: auto;
	max-height: 250px;
}

#venue {
	background-image: url('../img/backgrounds/Homestead5.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

#venue .content {
	display: flex;
	flex-wrap: wrap;
}

#venueInnerImg {
	flex-basis: 35%;
	padding-right: 20px;
}

#venueInnerImg img {
	height: 100%;
	width: 100%;
}

#venueText {
	flex-basis: 62%;
	flex-grow: 1;
	line-height: 200%;
}

#party {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 200px 0 !important;
}

#party .content {
	flex-basis: 425px;
	flex-grow: 1;
	margin: 50px 20px;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
}

#party .content .bobble {
	flex-grow: 1;
	margin-right: 20px;
	text-align: center;
}

#party .content .bobble img {
	max-height: 399px;
	max-width: 250px;
}

#party .content .partyText {
	flex-basis: 45%;
	flex-grow: 1;
}

#amenities {
	background-image: url('../img/backgrounds/KennebunkMap.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	line-height: 150%;
}

#amenities > div img {
	float: right;
	margin-right: 20px;
}

#registry > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#registry > div a {
	margin: 20px;
}

#registry > div img {
	flex-basis: 400px;
}

#registry > div img:first-child {
	flex-basis: 100%;
}

#hfLogo {
	width: 850px;
}

#bbbLogo, #aLogo {
	width: 400px;
	height: 100%;
	margin: auto;
}

#hfLogo img, #bbbLogo img, #aLogo img {
	width: 100%;
}

#rsvp {
	background-image: url('../img/backgrounds/envelope_logo.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

#codeEntry {
	text-align: center;
	padding: 100px 0;
}

#rsvp .content svg {
	display: block;
	margin: auto;
}

text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 8s forwards;
  -moz-animation: draw 8s forwards;
  -o-animation: draw 8s forwards;
  -ms-animation: draw 8s forwards;
  animation: draw 8s forwards;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

#rsvp .content #invite {
	position: relative;
	text-align: center;
	padding: 40px 45px;
	font-weight: bold;
	font-family: Papyrus, fantasy;
}

#rsvp .content #invite #upper_right {
	position: absolute;
	background-image: url(../img/scrollwork_corner_navy_tr.png);
	background-repeat: no-repeat;
	background-size: cover;
	top: 5px;
	right: 0%;
	height: 200px;
	width: 200px;
}

#rsvp .content #invite #upper_left {
	position: absolute;
	background-image: url(../img/scrollwork_corner_navy_tl.png);
	background-repeat: no-repeat;
	background-size: cover;
	top: 5px;
	left: 0;
	height: 200px;
	width: 200px;
}

#rsvp .content #invite #lower_left {
	position: absolute;
	background-image: url(../img/scrollwork_corner_navy_bl.png);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0%;
	left: 0;
	height: 200px;
	width: 200px;
}

#rsvp .content #invite #lower_right {
	bottom: 0%;
	background-image: url(../img/scrollwork_corner_navy_br.png);
	background-repeat: no-repeat;
	background-size: cover;
	right: 0%;
	position: absolute;
	height: 200px;
	width: 200px;
}

#rsvp .content #rsvpForm {
	line-height: 2;
	max-width: 600px;
	border: 5px solid #060761;
	margin: 20px auto;
	padding: 10px;
}